@font-face {
	font-family: 'Mona-Sans';
	src: url('/Mona-Sans.ttf') format('truetype');
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	user-select: none;
}

:root {
	--font-family-normal: 'Mona-Sans', sans-serif;
	--font-family-bold: OmnesBold, sans-serif;
}

body {
	color: red;
	font-family: var(--font-family-normal);
	background-color: #0d1117;
}

main {
	padding: 1em 2em;
	/* viewport - header - footer - margin main */
	min-height: calc(100vh - 64px - 64px - 48px);
}

li {
	list-style: none;
}
